/* Remove default spacing */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Remove scrollbars caused by sideways content */
html, body {
  width: 100;
  height: 100%;
  overflow-x: hidden;
}

/* Set default background color */
body {
  background: #ffffff;
  font-family: sans-serif;
}
